section {

    background-color: rgb(59, 59, 59);

    .popular-movie {
        height: 800px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        display: flex;
        justify-content: center;
        align-items: center;


        .container-info {
            background-color: rgba(66, 9, 173, 0.87);
            height: auto;
            width: 25%;
            text-align: center;
            position: absolute;
            left: 0;

        }
    }
}

.popular-movie-internal {
    height: 100%;
    background-size: 100%;
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.popular-movie::before {
    content: "";

    filter: blur(5px);
}