section {
    display: grid;
    min-height: calc(100% - 80px);
    align-content: space-between;
}

.container {
    height: calc(100% + 80px);
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1rem;
    justify-items: center;
}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.selected-card {
    margin: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    div {
        width: 100%;
    }
}

mat-paginator {
    background-color: #673ab7;
    font-size: large;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 570px) {
    .card-group {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    .selected-card {
        text-align: center !important;
    }
}
