mat-toolbar {
    height: 80px;
    background-color: var(--primary-color);

    :first-child {
        height: 100%;
    }

    mat-drawer-container {
        ::ng-deep {
            mat-drawer-content {
                overflow: hidden;
                mat-drawer {
                    div {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}