<mat-toolbar color="primary">
  <div class="col-8">
    <button mat-button color="basic" (click)="navigate(routes.HOME)">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
      Home</button>
    <button mat-button color="basic" (click)="navigate(routes.COLLECTION, typeCollection.MOVIE)">Filmes</button>
    <button mat-button color="basic" (click)="navigate(routes.COLLECTION, typeCollection.SERIE)">Séries</button>
    <button mat-button color="basic" (click)="navigate(routes.FAVORITES)">Favoritos</button>
  </div>
  <div class="col-4 d-flex justify-content-end align-items-center">
    <button mat-icon-button (click)="toggleTheme()" aria-label="Toggle theme">
      <mat-icon>brightness_6</mat-icon>
    </button>
    <app-aside-search (valueSeachMovie)="searching($event)"></app-aside-search>
  </div>

</mat-toolbar>
