section {
  background-color: var(--background-color);
  color: white;

  .cards {
    justify-content: space-evenly;
    > mat-card {
        background-color: rgb(66 27 195 / 45%);
      }
  }
  
}
