section {
  background-color: var(--background-color);
  color: var(--text-color);

  .cards {
    justify-content: space-evenly;
    > mat-card {
        background-color: rgba(0, 0, 0, 0.5);
      }
  }
  
}
