.search-aside {
    width: 100%;

    mat-form-field {
        width: 100%;
        
        button {
            position: relative;
        }
    }

    button {
        height: 56px;
        right: 0px;
    }
}