@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body {
    margin: 0;
    padding: 0;
}

.style-text {
    color: aliceblue;
}
